.container {
    font-family: Verdana, sans-serif;
}

.overlayAroundModalWindow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #464646;
    opacity: 0.90;
    z-index: 1000;
    display: none;
}

.modalWindow {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    background-color: #e6cad5;
    width: 600px;
    max-width: 100%;
    height: 250px;
    max-height: 100%;
    z-index: 1010;
    display: none;
}

.comeOnPopUp {
    display: block;
}

.modalWindowContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
}

.modalWindowHeader {
    font-size: 2em;
    text-align: center;
    line-height: 1.75rem;
    padding: 4vh 2vw 2vh;
    font-weight: bolder;
}

.modalWindowText {
    text-align: center;
    line-height: 1.5rem;
    padding: 0 2vw;
    font-weight: bold;
    font-size: 1.4em;
    color: #4f4f4f;
}

.header {
    font-size: 4em;
    text-align: center;
    font-weight: bolder;
    margin: 5vh 0;
}

.openBtn {
    width: 220px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    font-family: "Exo 2", Arial, sans-serif;
    text-transform: uppercase;
    color: white;
    background: linear-gradient(#959595 0%, #0d0d0d 30%, #000000 100%);
    border: 5px solid #929292;
    box-sizing: content-box;
    border-radius: 10px;
    outline: none;
    transform: translate(calc(50vw - 110px), 0);
}

.openBtn:hover {
    background: linear-gradient(#959595 10%, #0d0d0d 45%, #000000 90%);
    border-color: #616161;
    font-size: 18px;
    cursor: pointer;
}

.openBtn:active {
    background: linear-gradient(#959595 0%, #0d0d0d 30%, #000000 100%);
    border-color: #818181;
    font-size: 16px;
}

.closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #ff9d9d;
    border-width: 0;
    z-index: 1;
    box-sizing: border-box;
    outline: none;
}

.closeBtn::after {
    content: '\2573';
    font-size: 1.5em;
    font-weight: bolder;
}

.closeBtn:hover {
    background-color: #d78383;
    cursor: pointer;
}

.closeBtn:active {
    background-color: #a06161;
    font-size: 0.6em;
}